{
    "presets": [
        [
          "@babel/preset-env"
        ]
      ],
      "plugins": [
        ["prismjs", {
            "languages": "all",
            "plugins": [],
            "theme": "default",
            "css": true
        }]
      ]
  }
